@font-face{
	font-family: 'TreasureHunt';
	src: url(batmfa__.ttf);
	}
	header{ 
		 
		text-align:right;
		background: white;
		color:black;
		border-radius:3px;
		height:20px;
		line-height:20px; 
	}
	h1{ 
		color:white;
		margin:20px 0 0 0;
		text-align: center;
		font-family: 'TreasureHunt';
	}
	.question{
		top:40px;
		position: relative;
	}
			
	.sideMenu{
		position:relative;
		padding: 20px 0 0 0;
		margin:10px 0 10px 10px;
		font-family: sans-serif;
                text-align: center;
                font-size: 15px;
                color: #aaa;
                height: 45px;
                width:150px;
		line-height:25px;
                border-style: solid;
                border-radius: 50px;
                border-color:rgba(255,255,255,0.5);
                -webkit-transition: 0.5s ease;
	        -moz-transition: 0.5s ease;
       	        -ms-transition: 0.5s ease;
       	        -o-transition: 0.5s ease;
 	        transition: 0.5s ease;
		overflow: hidden;	
	}	
	.sideMenu:hover{
		background: white;
		color: black;
		font-size:20px;
		line-height:22px;
		
	}
	
	#navbar{
        position:relative;
        right:0px;
	top:40px;
        z-index:150;
        width:150px;
	}
	.sample{
		position: absolute;
		float:left;

	}
	ul{
		float:left;
	}
	#navbar a, #navbar a:visited{
        color:#c9c9c9;
        text-decoration:none;
	}

	a{ 
		text-decoration:none;
	}
	
	body{ 
		background:url('cosmos.jpg');
		background-size: cover;		
	}
	input[type="text"]{
	 	 border: solid 1px #707070;
 		 box-shadow: 0 0 5px 1px #969696;
 		 line-height: 2em;
        }
	.btn{
		height:40px;
		background:#2f4f4f;
		opacity:0.5;
		color:white;
		border-style:solid;
		border-radius: 5px;
	}	
