@font-face{
 	font-family:'TreasureHunt';
	src:url(batmfa__.ttf);
	}
@font-face{
	font-family:'Hyperspace';
	src:url(hyperspace.ttf);
	}
	.head-logo{
		height:70px;
		padding:5px 5px 0 5px;
		vertical-align: middle;
		 -moz-animation: spin 3s infinite linear;
   		 -webkit-animation: spin 3s infinite linear;		
	}
	@-moz-keyframes spin {
 	   	0% {
        		-moz-transform: rotate(0deg);
    		}

    		100% {
        		-moz-transform: rotate(360deg);
    		};
	}
	
	@-webkit-keyframes spin {
    		0% {
        		-webkit-transform: rotate(0deg);
    		}

    		100% {
        		-webkit-transform: rotate(360deg);
    		};
	}
	html{ 
		height:100%;
		overflow:hidden;
	}
	#cover{ 
		position:fixed; 
		top:0; left:0; 
		background:rgba(0,0,0,0.6); 
		z-index:5; 
		width:100%; 
		height:100%; 
		display:none; 
	} 
	#loginScreen { 
		height:250px; 
		width:360px; 
		margin:0 auto; 
		position:relative;
		padding:100px 0 0 0;
		z-index:10;
		display: none;
		border:5px solid #cccccc; 
		border-radius:10px;
		font-family: 'Play', sans-serif;
		text-align: center;
                background: rgba(0,0,0,0.6);
		color: #00FF00;
	} 
	#loginScreen:target, #loginScreen:target + #cover{ 
		display:block; 
		opacity:2; 
	} 
	.cancel { 
		display:block; 
		position:absolute; 
		top:3px;
		right:2px; 
		background:rgb(245,245,245); 
		color:black; 
		height:30px; 
		width:35px; 
		font-size:30px; 
		text-decoration:none; 
		text-align:center; 
		font-weight:bold; 
	} 
	#loginScreen .btn{
		background: rgba(0,0,0,0.6);;
		padding: 7px;
		border-radius:5px;
		font-family: 'Play',sans-serif;
		font-weight: bold;
		font-height:50px;
		width: 70px;
		display: inline-block;
		color: #aaa;
	}

	h1{
	 	padding:20px 10px 0 10px;
		border: 100px 0 0 100px;	
		font-family: 'TreasureHunt';
		font-size: 70px;
		text-align: center;
		color: #aaaaaa;
	}
	
	.register-form{
		font-family: 'Play', sans-serif;
		float: left;
		background: rgba(0,0,0,0.5);
		padding: 0 10px 0 20px;
		margin: 40px 40px 0 40px;
		position:absolute;
		width: 350px;
	}
	.signup{
		position:relative;
		margin:100px 150px 0 0px;
		font-family: 'Hyperspace';
		float: right;
		text-align: center;
		font-size: 30px;
		color: #aaa;
		vertical-align: middle;
		height: 100px;
		width:200px;
		line-height:32px;
		border-style: solid;
		border-radius: 50px;
		border-color:rgba(0,0,0,0.5);
		-webkit-transition: all 0.5s ease;
	        -moz-transition: all 0.5s ease;
       	        -ms-transition: all 0.5s ease;
    	        -o-transition:all 0.5s ease;
       	        transition: all 0.5s ease;

	}
	.login{
		position:relative;
		margin:100px 0 0 150px;
                font-family: 'Hyperspace';
                float: left;
                text-align: center;
                font-size: 30px;
                color: #aaa;
                vertical-align: middle;
                height: 100px;
                width:200px;
                line-height:32px;
                border-style: solid;
		border-radius: 50px;
                border-color:rgba(0,0,0,0.5);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;

	}
	.text{
		text-align:center;
		vertical-align: center;
		float:center;
	}
	.signup:hover{
		margin:50px 150px 0 0;
		height:200px;
		border-color: rgba(0,0,0,0.5);
		border-radius:100%;
		border: 20px dotted rgba(0,0,0,0.7);
		font-weight: bold;
		line-height: 130px;
		
	}
	.login:hover{
		margin:50px 0 0 150px;
		height: 200px;
		border-color: rgba(0,0,0,0.5);
                border-radius:100%;
                border: 20px dotted rgba(0,0,0,0.7);
                font-weight: bold;
		line-height: 130px;
        }

	.reg{
		padding:50px 0 0 0;
	}
	a{ 	
		text-decoration:none;
	}
	
body
{
background: url('Hunt.jpg') no-repeat fixed;
-moz-background-size: cover;
background-size:cover;
background-position: none center; 
<!--background-size: 95%;-->
<!--background-attachment:fixed;-->
}

.overlay {
	position:fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
}
.overlay-text{
	margin-left:auto;
	margin-right:auto;
	width:70%;
	color:white;
	text-align:justify;
}
/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(cross.png) no-repeat center center;
	cursor:pointer;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/*/* Menu style 
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
/*
.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}*/
	.buttn{
		cursor:pointer;
		height:60px;
		width:120px;
                background: rgba(0,0,0,0.5); /*#2f4f4f;*/
               	color:white;
                border-style:solid;
                border-radius: 5px;
		transition:all 0.5s ease;
	}
	.buttn:hover{
		font-size:20px;
		background:white;
		color:black
	}
