
html{font-family:sans-serif;
}

body{
		margin:0;
		background:url('img/bg.jpg');
			
		background-repeat: no-repeat;	         
    		background-position: center center; 	
}
table{width:80%;
background:rgba(0,0,0,0.5);
}

h3{text-align:center;
vertical-align:center;}
th{text-align:center;
}

tbody{
text-align:center;

}
.table>thead>tr>th,.table>tbody>tr>td,.table>tfoot>tr>td{
padding:8px;
line-height:1.42857143;
vertical-align:top;
border:1px solid #ddd;

}
